.slider {
  width: 100%;
  height: 86vh;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease;
  overflow: hidden;
}

.slide img {
  height: 100%;
  object-fit: cover;
}

.current {
  opacity: 1;
  transform: translateX(0);
}

.content {
  position: absolute;
  top: 23rem;
  left: 5rem;
  opacity: 0;
  width: 50%;
  color: #fff;
  padding: 3rem;
  background: rgba(0, 0, 0, 0.5);
  animation: slide-up 1s ease 0.5s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.content > * {
  color: #fff;
  margin-bottom: 1rem;
}

.current .content {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease;
}

.arrow {
  border: 2px solid white;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.arrow:hover {
  background-color: #fff;
  color: #777;
}

.next {
  top: 35%;
  right: 1.5rem;
}

.prev {
  top: 35%;
  left: 1.5rem;
}

hr {
  height: 2px;
  background: white;
  width: 50%;
}

hr.hr-full {
  height: 3px;
  background: #F4B41A;
  width: 100%;
  opacity: 1;
}

div.slide.current {
  z-index: 1;
}

.footer-icons {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  height: 1.75rem;
  width: 1.75rem;
  margin-top: 1.5rem;
}

.content-image {
  height: 300px !important;
  object-fit: cover;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
}

.popup-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

@media screen and (max-height: 670px) {
  .content {
    top: 1rem !important;
  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 80%;
  }
  .hide-sm {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .slide img {
    width: 100%;
    height: 100%;
  }
}

@keyframes slide-up {
  0% {
    visibility: visible;
    top: 23rem;
  }

  100% {
    visibility: visible;
    top: 17rem;
  }
}

$primary: #181a2a;
$secondary: #F4B41A;
$info: #6c757d;

@import "/node_modules/bootstrap/scss/bootstrap.scss"
